/* This is all extremely not proper, maybe find another way if it breaks */
.overlay-move-down {
    header{
        margin-top: 24px;
    }
    .overlay-drawer {
        // .overlay-toolbar {
        //     margin-top: 34px;
        // }
        .Overlay-drawerClose-8 {
            top: 24px;
        }
        .Overlay-drawerOpen-7 {
            top: 24px;
        }
    }
    
}